body{
    background-color: skyblue;
    
}
#yuki14{
    text-align: center;
    color: red;
}
#yuki15{
    text-align: center;
    color: yellow;
}
.yuki11
{
    color: blue;
}
.yuki12
{
    color: rgb(235, 209, 143);
}
.yuki13
{
    text-align: center;
    color: brown;
}
