#tr1{
    color: green;
    background-color: azure;
}
#tr2{
    color: rgb(6, 10, 6);
    background-color: rgb(216, 135, 159);
}
#tr3{
    color: rgb(7, 10, 7);
    background-color: rgb(126, 141, 141);
}
#tr4{
    color: rgb(2, 3, 2);
    background-color: rgb(241, 252, 252);
}
#tr5{
    color: rgb(5, 10, 5);
    background-color: rgb(126, 141, 141);
}
#tr6{
    color: rgb(3, 5, 3);
    background-color: rgb(241, 252, 252);
}